// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#letters {
  display: inline;
  padding: 16px;
  background-color: blue;
  color: white;
  border-color: red;
  margin-right: 16px;
}
